<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{dd.MM.yyyy HH:mm:ss.SSS} [%t] %logger{36} - %msg%n" charset="UTF-8"/>
        </Console>
        <File name="File" fileName="logs/main.log">
            <PatternLayout pattern="[%-5level] %d{dd.MM.yyyy HH:mm:ss} [%t] %logger{36} - %msg%n" charset="UTF-8"/>
        </File>
    </Appenders>
  
    <Loggers>    
        <Logger name="ru.thevalidator.galaxytriviabot" level="error" additivity="false">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <!--<AppenderRef ref="Console"/>-->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>

